body {

}

.flexOuterCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexOuterSpace {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexOuterEnd {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.relShell {
  position: relative;
  padding: 1em;
}

#closeModal {
  font-size: 30px;
  cursor: pointer;
  padding: 0.25em;
  border: none;
  border-radius: 5px;
  color: red;
  line-height: 0.7;
}

#closeModal:hover {
  background-color: red;
  color: white;
}

#modalContent {
  padding: 1em;
}

.iconShell {
  font-size: 30px;
  color: white;
  padding: 0.75em 1.5em;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.iconShell:hover {
  border: 2px solid white;
}

.iconShell:focus {
  border: 2px solid #949494;
  outline: 2px solid white;
  color: #949494;
  background-color: white;
}


.setCard {
  border: 2.5px solid #949494;
  outline: 2.5px solid transparent;
  border-radius: 5px;
  background-color: white;
  padding: 0.33em;
  margin: 0 0.33em 0.66em 0.33em;
  font-size: 32px;
  font-family: courier;
  min-width: 70px;
  max-width: 70px;
  min-height: 60px;
  max-height: 60px;
  text-align: center;
  cursor: pointer;
  line-height: 0.95;
  position: relative;
}

.setCard:hover {
  outline: 2.5px solid #949494;
}

.selected, [aria-selected="true"] {
  background-color: lightblue !important;
  border: 2.5px solid #949494 !important;
  outline: 2.5px solid transparent !important;
}

.setCard:focus {
  border: 2.5px solid white !important;
  outline: 2.5px solid black !important;
  background-color: gainsboro;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.green {
  color: forestgreen;
}

.red {
  color: orangered;
}

.purple {
  color: purple;
}

.selected-icon {
  color: #757575;
  font-size: 16px !important;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: none !important;
}

.selected .selected-icon, [aria-selected="true"] .selected-icon {
  display: inline-block !important;
}

.modal {
  background-color: #949494;
  border-radius: 5px;
  color: white;
  opacity: 1;
  padding: 0.5em;
  position: absolute;
  font-size: 24px;
  font-family: courier;
  letter-spacing: 4px;
  top: 20%;
  z-index: 22;
}

.scorecard {
  font-weight: bold;
  font-size: 32px;
}

.hide, .appModal[aria-hidden="true"] {
  display: none;
}

.show, .appModal[aria-hidden="false"] {
  display: block;
}

#appShell {
  position: relative;
}

#modalBackdrop {
  height: 103%;
  width: 106%;
  top: -3%;
  left: -3%;
  position: absolute;
  opacity: 0.6;
  background-color: white;
  z-index: 20;
}

#headband {
  padding: 0.25em;
  position: fixed;
  background-color: #949494;
  width: 103%;
  left: -3%;
  top: 0%;
  opacity: 1;
}

#app {
  width: 100%;
  padding-top: 7.5em;
}


@media only screen and (min-width: 560px) {
  #app {
    padding-top: 0.33em;
    z-index:11;
    width: 82%;
  }

  .buttonShell {
    position: relative;
  }

  .iconShell {
    font-size: 30px;
    color: #949494;
    padding: 0.5em;
    position: absolute;
    top: 5em;
  }

  #addRowShell {
    left: -2em;
  }

  .iconShell:hover {
    border: 2px solid #949494;
  }

  .iconShell:focus {
    border: 2px solid white;
    outline: 2px solid #949494;
    color: white;
    background-color: #949494;
  }

  #headband {
    padding: 0.25em;
    position: fixed;
    background-color: white;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 10
  }
}

@media only screen and (min-width: 640px) {

  .setCard {
    min-width: 90px;
    max-width: 90px;
  }

  #app {
    padding-top: 2em;
    width: 88%;
  }
}

@media only screen and (min-width: 790px) {
  #app {
    width: 85%;
  }
}

@media only screen and (min-width: 812px) {
  .iconShell {
    font-size: 30px;
    color: #949494;
  }

  .setCard {
    min-width: 100px;
    max-width: 100px;
    padding-top: 1em;
  }

  #app {
    width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .iconShell {
    font-size: 30px;
    position: static;
  }

  .setCard {
    min-width: 120px;
    max-width: 120px;
  }

  #app {
    padding-top: 9em;
    z-index:9;
  }

  #headband {
    padding: 0.25em;
    width: 100%;
    left: 0%;
    justify-content: space-around;
  }
}

@media only screen and (min-height: 1024px) {
  .iconShell {
    font-size: 30px;
  }

  .setCard {
    min-width: 120px;
    max-width: 120px;
  }

  #addRowShell {
    left: -4em;
  }

  #app {
    padding-top: 9em;
    z-index:9;
  }

  #headband {
    padding: 0.25em;
    width: 100%;
    left: 0%;
  }
}
